<ion-header>

</ion-header>

<ion-content>

  <ion-grid>

    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-button  (click)="dismiss()" color="danger" ><ion-text style="font-weight: 500;">cerrar</ion-text>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <h2>Ingreso de material</h2>
      </ion-col>
    </ion-row>


    <ion-card>
    <ion-row class="ion-align-items-center">
      <ion-col size="6" class="ion-text-center">
        <h3 color="danger" style="color:red;">CAMELECO</h3><br>
        <ngx-qrcode [value]="traidopormodalparams.createdCode">
        </ngx-qrcode>
        <!-- <ion-icon style="font-size:256px;" name="qr-code-outline"></ion-icon> -->
      </ion-col>
      <ion-col size="6" class="ion-text-left">
        <p><strong>Carrete N:</strong>{{this.traidopormodalparams.createdCode}}</p>
        <p><strong>Referencia:</strong>{{this.traidopormodalparams.referencia}}</p>
        <p><strong>codigo:</strong>{{this.traidopormodalparams.producto}}</p>
        <p><strong>nombre:</strong>{{this.traidopormodalparams.descripcion}}</p>
        <p><strong>Numero d/nota d/entrada:</strong>{{this.traidopormodalparams.numerodenotadeentrada}}</p>
        <p><strong>mts en carrete inicio:</strong>{{this.traidopormodalparams.metrosencarrete}}</p>
        <p><strong>Operario ingreso:</strong>{{this.traidopormodalparams.nombre_user}}</p>
        <p><strong>Fecha Hora:</strong>{{this.traidopormodalparams.fecha_autogenerada}}</p>

      </ion-col>
    </ion-row>
   </ion-card>

    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-button  (click)="imprimir()" color="danger" ><ion-text style="font-weight: 500;">Imprimir</ion-text>
        </ion-button>
      </ion-col>
    </ion-row>


  </ion-grid>

</ion-content>
