<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Consulta</ion-title>
      <ion-buttons slot="end">
          <ion-button href="https://cables.cameleco.com/ayudas/ayuda-consulta-2/" target="_blank" style="text-transform: none; margin-right: 15px;">Ayuda 
              <ion-icon  name="information-circle-outline"></ion-icon>
          </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid *ngIf="this.seccionactiva=='no'">
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-text  (click)="reingresar()" color="danger" >Sección expirada debe reingresar.</ion-text>
      </ion-col>
    </ion-row>
  <ion-row class="ion-align-items-center">
    <ion-col size="12" class="ion-text-center">
      <ion-button  (click)="reingresar()" color="danger" ><ion-text style="font-weight: 500;">REINGRESAR</ion-text>
      </ion-button>
    </ion-col>
  </ion-row>
  </ion-grid>

  <ion-grid *ngIf="this.puedenavegaraqui=='no'">
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-text color="danger" >No tiene permisos para navegar en esta sección.</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid *ngIf="this.puedenavegaraqui=='si'">

    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-text color="danger" >Búsqueda de productos.</ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center">
      <ion-col size="3" class="ion-text-center">
        <ion-text color="danger" >Referencia.</ion-text>
      </ion-col>

      <ion-col size="3" class="ion-text-center">
        <ion-text color="danger" >Código.</ion-text>
      </ion-col>

    <ion-col size="6" class="ion-text-center">
      <ion-text color="danger" >Nombre.</ion-text>
    </ion-col>
  </ion-row>

  <ion-row class="ion-align-items-center">
      <ion-col size="3" class="ion-text-center">
        <ion-item>
          <ion-label position="floating">Referencia:</ion-label>
          <ion-input style="border: solid 1px #ff011030;" (keyup.enter)="buscarporreferencia()" value="{{this.referencia}}" (ionChange)="ONCHANGEreferencia($event)"></ion-input>
        </ion-item>      
      </ion-col>

      <ion-col size="3" class="ion-text-center">
        <ion-item>
          <ion-label position="floating">Código:</ion-label>
          <ion-input style="border: solid 1px #ff011030;" (keyup.enter)="buscarporcodigo()" value="{{this.codigo}}" (ionChange)="ONCHANGEcodigo($event)"></ion-input>
        </ion-item>      
      </ion-col>

      <ion-col size="6" class="ion-text-center">
        <ion-item>
        <ion-label position="floating">Nombre:</ion-label>
        <ion-input style="border: solid 1px #ff011030;" (keyup.enter)="buscarpornombre()" value="{{this.nombre}}" (ionChange)="ONCHANGEnombre($event)"></ion-input>
        </ion-item>      
      </ion-col>
  </ion-row>

  <ion-row class="ion-align-items-center">
    <ion-col size="12" class="ion-text-center">
      <ion-button *ngIf="this.referencia&&this.codigo==''&&this.nombre==''" (click)="buscarporreferencia()" color="danger" >Buscar</ion-button>
      <ion-button *ngIf="this.codigo&&this.referencia==''&&this.nombre==''" (click)="buscarporcodigo()" color="danger" >Buscar</ion-button>
      <ion-button *ngIf="this.nombre&&this.codigo==''&&this.referencia==''" (click)="buscarpornombre()" color="danger" >Buscar</ion-button>

      <ion-button disabled *ngIf="this.referencia==''&&this.codigo==''&&this.nombre==''" color="danger" >Buscar</ion-button>

    </ion-col>
  </ion-row>


  <ion-row class="ion-align-items-center">
    <ion-col size="12">
          <ion-list class="ion-align-items-center">
              <!-- <ion-item > -->


                <ion-row *ngIf="respuestabusqueda" style="border-bottom: 1px solid #151515 !important; border-top: 1px solid #151515 !important;" class="ion-align-items-center ion-no-padding" no-padding>
                  <ion-col size="3" class="ion-align-items-center ion-no-padding" no-padding>
                    <ion-text color="danger" style="color:danger; font-size: small;">Referencia</ion-text>
                  </ion-col>
                  <ion-col size="3" class="ion-align-items-center ion-no-padding" no-padding>
                    <ion-text color="danger" style="color:danger; font-size: small;">Producto</ion-text>
                  </ion-col>
                  <ion-col style="text-align: center;" size="4" class="ion-align-items-center ion-no-padding" no-padding>
                    <ion-text color="danger" style="color:danger; font-size: small;">Descripción</ion-text>
                  </ion-col>
                  <ion-col size="2" class="ion-align-items-right ion-no-padding" no-padding>
                    <ion-text color="danger" style="color:danger; font-size: small;">&nbsp;</ion-text>
                  </ion-col>
                </ion-row>


                <ion-row style="border-bottom: 1px solid #151515 !important; border-top: 1px solid #151515 !important;" *ngFor="let producto of respuestabusqueda" class="ion-align-items-center ion-no-padding" no-padding>
                  <ion-col size="3" class="ion-align-items-center ion-no-padding" no-padding>
                    <ion-text color="danger" style="color:danger; font-size: small;">{{producto.referencia}}</ion-text>
                  </ion-col>
                  <ion-col size="3" class="ion-align-items-center ion-no-padding" no-padding>
                    <ion-text color="danger" style="color:danger; font-size: small;">{{producto.producto}}</ion-text>
                  </ion-col>
                  <ion-col size="4" class="ion-align-items-center ion-no-padding" no-padding>
                    <ion-text color="danger" style="color:danger; font-size: small;">{{producto.descripcion}}</ion-text>
                  </ion-col>
                  <ion-col size="2" class="ion-align-items-right ion-no-padding" no-padding>
                    <ion-button (click)="consultaringresomaterial(producto)" size="small">
                    <ion-icon style="font-size: x-large; border-radius: 5px; color:white;" name="clipboard-outline" item-right></ion-icon><ion-text style="font-size:small; color:white;">Consultar</ion-text>
                  </ion-button>
                  </ion-col>
                  
                </ion-row>
              <!-- </ion-item> -->
            </ion-list>
    </ion-col>
</ion-row>


<ion-row style="justify-content: center;align-items: center;" *ngIf="this.respuestabusqueda!=undefined&&this.respuestabusqueda!=null&&this.respuestabusqueda''" class="ion-align-items-center">


    <ion-button (click)="cerrar()" >Cerrar
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
</ion-row>


  </ion-grid>

  
</ion-content>
