<ion-header>
  <ion-toolbar>
    <ion-title>Suspención de Ordenes de Fraccionamiento.</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row class="ion-align-items-center">
    <ion-col size="12" class="ion-text-center">
      <ion-text>Verifique la información y agrege una observación.</ion-text>
    </ion-col>
  </ion-row>


  <ion-row class="ion-align-items-center">
    <ion-col style="text-align: center;" size="12">
                <ion-row style="border-bottom: 1px solid #151515 !important; border-top: 1px solid #151515 !important;" class="ion-align-items-center ion-no-padding" no-padding>
                  <ion-col size="3" class="ion-align-items-center ion-no-padding" no-padding>
                    <ion-text style="font-size:small; color:white">Referencia</ion-text>
                  </ion-col>
                  <ion-col size="3" class="ion-align-items-center ion-no-padding" no-padding>
                    <ion-text style="font-size:small; color:white">Código</ion-text>
                  </ion-col>
                  <ion-col size="6" class="ion-align-items-center ion-no-padding" no-padding>
                    <ion-text style="font-size:small; color:white">Nombre</ion-text>
                  </ion-col>     
                </ion-row>
    </ion-col>
  </ion-row>


  <ion-row class="ion-align-items-center">
    <ion-col style="text-align: center;" size="12">
          <ion-list class="ion-align-items-center">
              <!-- <ion-item > -->
                <ion-row style="border-bottom: 1px solid #151515 !important;"  class="ion-align-items-center ion-no-padding" no-padding>
                  <ion-col size="3" class="ion-align-items-center ion-no-padding" no-padding>
                    <ion-text color="danger" style="color:danger">{{traidopormodalparams.referencia}}</ion-text>
                  </ion-col>
                  <ion-col size="3" class="ion-align-items-center ion-no-padding" no-padding>
                    <ion-text *ngIf="traidopormodalparams.id_inutilizado>0&&traidopormodalparams.id_inutilizado<10" color="danger" style="color:danger">0000000{{traidopormodalparams.id_inutilizado}}</ion-text>
                    <ion-text *ngIf="traidopormodalparams.id_inutilizado>10&&traidopormodalparams.id_inutilizado<100" color="danger" style="color:danger">000000{{traidopormodalparams.id_inutilizado}}</ion-text>
                    <ion-text *ngIf="traidopormodalparams.id_inutilizado>100&&traidopormodalparams.id_inutilizado<1000" color="danger" style="color:danger">00000{{traidopormodalparams.id_inutilizado}}</ion-text>
                    <ion-text *ngIf="traidopormodalparams.id_inutilizado>1000&&traidopormodalparams.id_inutilizado<10000" color="danger" style="color:danger">0000{{traidopormodalparams.id_inutilizado}}</ion-text>
                    <ion-text *ngIf="traidopormodalparams.id_inutilizado>10000&&traidopormodalparams.id_inutilizado<100000" color="danger" style="color:danger">000{{traidopormodalparams.id_inutilizado}}</ion-text>

                  </ion-col>
                  <ion-col size="6" class="ion-align-items-center ion-no-padding" no-padding>
                    <ion-text color="danger" style="color:danger">{{traidopormodalparams.descripcion}}</ion-text>
                  </ion-col>

                  
                </ion-row>
              <!-- </ion-item> -->
            </ion-list>
    </ion-col>
</ion-row>

<hr>

<ion-row class="ion-align-items-center">
  <ion-col style="text-align: center;" size="12">
              <ion-row style="border-bottom: 1px solid #151515 !important; border-top: 1px solid #151515 !important;" class="ion-align-items-center ion-no-padding" no-padding>
                <ion-col size="4" class="ion-align-items-center ion-no-padding" no-padding>
                  <ion-text style="font-size:small; color:white">Documento de<br>referencia</ion-text>
                </ion-col>
                <ion-col size="4" class="ion-align-items-center ion-no-padding" no-padding>
                  <ion-text style="font-size:small; color:white">metros de <br>fraccionamiento</ion-text>
                </ion-col>
                <ion-col size="4" class="ion-align-items-center ion-no-padding" no-padding>
                  <ion-text style="font-size:small; color:white">Observaciones</ion-text>
                </ion-col>
              </ion-row>
  </ion-col>
</ion-row>

<ion-row class="ion-align-items-center">
  <ion-col style="text-align: center;" size="12">
        <ion-list class="ion-align-items-center">
            <!-- <ion-item > -->
              <ion-row style=" border-top: 1px solid #151515 !important;"  class="ion-align-items-center ion-no-padding" no-padding>
                <ion-col size="4" class="ion-align-items-center ion-no-padding" no-padding>
                  <ion-text color="danger" style="color:danger">{{traidopormodalparams.documento}}</ion-text>

                </ion-col>
                <ion-col size="4" class="ion-align-items-center ion-no-padding" no-padding>
                  <ion-text color="danger" style="color:danger">{{traidopormodalparams.metrosencarrete}}</ion-text>
                </ion-col>
                <ion-col size="4" class="ion-align-items-center ion-no-padding" no-padding>
                  <ion-textarea (ionChange)="ONCHANGEobservacion($event)" style="border-radius: 5px; background-color:#101010" color="danger"></ion-textarea>
                </ion-col>

                
              </ion-row>
            <!-- </ion-item> -->
          </ion-list>
  </ion-col>
</ion-row>

  <ion-row class="ion-align-items-center">
    <ion-col size="12" class="ion-text-center">
      <ion-text>¿Esta seguro que desea bloquear esta orden de fraccionamiento?</ion-text>
    </ion-col>
  </ion-row>

  <ion-row class="ion-align-items-center">
    <ion-col size="2" class="ion-text-center">
      
    </ion-col>
    <ion-col size="4" class="ion-text-center">
      <ion-button  (click)="aceptar()" color="danger" ><ion-text style="font-weight: 500;">Aceptar</ion-text>
      </ion-button>
    </ion-col>
    <ion-col size="4" class="ion-text-center">
      <ion-button  (click)="dismiss()" color="danger" ><ion-text style="font-weight: 500;">Cancelar</ion-text>
      </ion-button>
    </ion-col>
    <ion-col size="2" class="ion-text-center">
      
    </ion-col>
  </ion-row>

</ion-content>
