<ion-header>
  <ion-toolbar>
    <ion-title>Suspención de Ordenes de Fraccionamiento.</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row class="ion-align-items-center">
    <ion-col size="12" class="ion-text-center">
      <ion-text>Verifique la información y agrege una observación.</ion-text>
    </ion-col>
  </ion-row>


  <ion-row class="ion-align-items-center">
    <ion-col style="text-align: center;" size="12">
                <ion-row style="border-top: 1px solid #151515 !important;" class="ion-align-items-center ion-no-padding" no-padding>
                  <ion-col size="3" class="ion-align-items-center ion-no-padding" no-padding>
                    <ion-text style="font-size:small; color:#303030">Referencia</ion-text>
                  </ion-col>
                  <ion-col size="3" class="ion-align-items-center ion-no-padding" no-padding>
                    <ion-text style="font-size:small; color:#303030">Código</ion-text>
                  </ion-col>
                  <ion-col size="6" class="ion-align-items-center ion-no-padding" no-padding>
                    <ion-text style="font-size:small; color:#303030">Nombre</ion-text>
                  </ion-col>     
                </ion-row>
    </ion-col>
  </ion-row>


  <ion-row class="ion-align-items-center">
    <ion-col style="text-align: center;" size="12">
          <ion-list class="ion-align-items-center">
              <!-- <ion-item > -->
                <ion-row  class="ion-align-items-center ion-no-padding" no-padding>
                  <ion-col size="3" class="ion-align-items-center ion-no-padding" no-padding>
                    <ion-text color="danger" style="color:danger">{{traidopormodalparams.referencia}}</ion-text>
                  </ion-col>
                  <ion-col size="3" class="ion-align-items-center ion-no-padding" no-padding>
                    <ion-text *ngIf="traidopormodalparams.id_inutilizado>0&&traidopormodalparams.id_inutilizado<10" color="danger" style="color:danger">0000000{{traidopormodalparams.id_inutilizado}}</ion-text>
                    <ion-text *ngIf="traidopormodalparams.id_inutilizado>10&&traidopormodalparams.id_inutilizado<100" color="danger" style="color:danger">000000{{traidopormodalparams.id_inutilizado}}</ion-text>
                    <ion-text *ngIf="traidopormodalparams.id_inutilizado>100&&traidopormodalparams.id_inutilizado<1000" color="danger" style="color:danger">00000{{traidopormodalparams.id_inutilizado}}</ion-text>
                    <ion-text *ngIf="traidopormodalparams.id_inutilizado>1000&&traidopormodalparams.id_inutilizado<10000" color="danger" style="color:danger">0000{{traidopormodalparams.id_inutilizado}}</ion-text>
                    <ion-text *ngIf="traidopormodalparams.id_inutilizado>10000&&traidopormodalparams.id_inutilizado<100000" color="danger" style="color:danger">000{{traidopormodalparams.id_inutilizado}}</ion-text>

                  </ion-col>
                  <ion-col size="6" class="ion-align-items-center ion-no-padding" no-padding>
                    <ion-text color="danger" style="color:danger">{{traidopormodalparams.descripcion}}</ion-text>
                  </ion-col>

                  
                </ion-row>
              <!-- </ion-item> -->
            </ion-list>
    </ion-col>
</ion-row>

<hr>

<ion-row class="ion-align-items-center">
  <ion-col style="text-align: center;" size="12">
              <ion-row style="border-top: 1px solid #151515 !important;" class="ion-align-items-center ion-no-padding" no-padding>
                <ion-col size="4" class="ion-align-items-center ion-no-padding" no-padding>
                  <ion-text style="font-size:small; color:#303030">Documento de<br>referencia</ion-text>
                </ion-col>
                <ion-col size="4" class="ion-align-items-center ion-no-padding" no-padding>
                  <ion-text style="font-size:small; color:#303030">metros de <br>fraccionamiento</ion-text>
                </ion-col>
                <ion-col size="4" class="ion-align-items-center ion-no-padding" no-padding>
                  <ion-text style="font-size:small; color:#303030">Observaciones</ion-text>
                </ion-col>
              </ion-row>
  </ion-col>
</ion-row>

<ion-row class="ion-align-items-center">
  <ion-col style="text-align: center;" size="12">
        <ion-list class="ion-align-items-center">
            <!-- <ion-item > -->
              <ion-row  class="ion-align-items-center ion-no-padding" no-padding>
                <ion-col size="4" class="ion-align-items-center ion-no-padding" no-padding>
                  <ion-text color="danger" style="color:danger">{{traidopormodalparams.documento}}</ion-text>

                </ion-col>
                <ion-col size="4" class="ion-align-items-center ion-no-padding" no-padding>
                  <ion-text color="danger" style="color:danger">{{traidopormodalparams.metrosencarrete}}</ion-text>
                </ion-col>
                <ion-col size="4" class="ion-align-items-center ion-no-padding" no-padding>
                  <ion-card>
                  <ion-textarea [disabled]="apretobotonaceptar=='si'" (ionChange)="ONCHANGEobservacion($event)" style="border-radius: 5px; background-color:#c4c4c4" color="danger"></ion-textarea>
                  </ion-card>
                </ion-col>

                
              </ion-row>
            <!-- </ion-item> -->
          </ion-list>
  </ion-col>
</ion-row>

  <ion-row class="ion-align-items-center">
    <ion-col size="12" class="ion-text-center">
      <ion-text *ngIf="this.apretobotonaceptar=='no'">Ingrese los campos solicitados y precione aceptar para continuar.</ion-text>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="this.apretobotonaceptar=='si'" class="ion-align-items-center">
    <ion-col size="12" class="ion-text-center">
      <ion-card>
        <ion-text>Verifique la información ingresada y precione confirmar.</ion-text><br>
          <ion-button (click)="confirmar()"><ion-icon style="color:green" name="checkmark-done-outline"></ion-icon>Confirmar</ion-button>
          <ion-button (click)="noconfirmar()"><ion-icon style="color:orange" name="create-outline"></ion-icon>Modificar</ion-button>
          <ion-button (click)="dismiss()"><ion-icon style="color:black" name="close-outline"></ion-icon>Cancelar</ion-button>
      </ion-card>
    </ion-col>
  </ion-row>


  

  <ion-row class="ion-align-items-center">
    <ion-col size="2" class="ion-text-center">
      
    </ion-col>
    <ion-col size="4" class="ion-text-center">
      <ion-button *ngIf="this.apretobotonaceptar=='no'" (click)="aceptar()" color="danger" ><ion-text style="font-weight: 500;">Aceptar</ion-text>
      </ion-button>
    </ion-col>
    <ion-col size="4" class="ion-text-center">
      <ion-button *ngIf="this.apretobotonaceptar=='no'" (click)="dismiss()" color="danger" ><ion-text style="font-weight: 500;">Cancelar</ion-text>
      </ion-button>
    </ion-col>
    <ion-col size="2" class="ion-text-center">
      
    </ion-col>
  </ion-row>

</ion-content>
