<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Solicitud de fraccionamiento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid *ngIf="this.seccionactiva=='no'">
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-text  (click)="reingresar()" color="danger" >Sección expirada debe reingresar.</ion-text>
      </ion-col>
    </ion-row>
  <ion-row class="ion-align-items-center">
    <ion-col size="12" class="ion-text-center">
      <ion-button  (click)="reingresar()" color="danger" ><ion-text style="font-weight: 500;">REINGRESAR</ion-text>
      </ion-button>
    </ion-col>
  </ion-row>
  </ion-grid>

  <ion-grid *ngIf="this.puedenavegaraqui=='no'">
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-text color="danger" >No tiene permisos para navegar en esta sección.</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid *ngIf="this.puedenavegaraqui=='si'">
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-text color="danger" >Busqueda de productos.</ion-text>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="this.step=='1'" class="ion-align-items-center">
      <ion-col size="3" class="ion-text-center">
        <ion-item>
          <ion-label position="floating">Referencia</ion-label>
          <ion-input (keyup.enter)="buscar()" type="text" value="{{this.campo1}}" (input)="CHANGEcampo1($event)"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="3" class="ion-text-center">
        <ion-item>
          <ion-label position="floating">Codigo</ion-label>
          <ion-input (keyup.enter)="buscar()" type="text" value="{{this.campo2}}" (input)="CHANGEcampo2($event)"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6" class="ion-text-center">
        <ion-item>
          <ion-label position="floating">Nombre:</ion-label>
          <ion-input (keyup.enter)="buscar()" type="text" value="{{this.campo3}}" (input)="CHANGEcampo3($event)"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
      <ion-row *ngIf="this.step=='1'" class="ion-align-items-center">
        <ion-col size="12" class="ion-text-center">
          <ion-button (click)="buscar()">Buscar</ion-button>
        </ion-col>
      </ion-row>

    <ion-row *ngIf="this.step=='2'" class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
            <!-- <ion-searchbar placeholder="Buscar..." [(ngModel)]="filterTerm" animated="true"></ion-searchbar> -->
            <ion-button (click)="volver()"><ion-icon name="arrow-back-outline"></ion-icon>volver</ion-button>

            <ion-row class="ion-align-items-center">
              <ion-col size="2" class="ion-text-center">
                
                <ion-text style="color:white;">Referencia</ion-text>
              </ion-col>
        

        
            <ion-col size="2.5" class="ion-text-center">
              <ion-text style="color:white;">Codigo</ion-text>
            </ion-col>
            <ion-col size="6" class="ion-text-center">
              <ion-text style="color:white;">Nombre</ion-text>
            </ion-col>
      

      
          <ion-col size="1.5" class="ion-text-center">
            <ion-text style="color:white;">Accion</ion-text>
          </ion-col>
          </ion-row>


            <ion-list class="ion-align-items-center">
                  <ion-row style="border-bottom: 1px solid #151515 !important; border-top: 1px solid #151515 !important;" *ngFor="let producto of ingresodematerialnobloqueados | filter:filterTerm; let i = index" class="ion-align-items-center ion-no-padding" no-padding>
                    
                    <ion-col style="text-align: center;" size="2" class="ion-align-items-center ion-no-padding" no-padding>
                      <ion-text color="danger" style="color:danger">{{producto.referencia}}</ion-text>
                    </ion-col>
                    <ion-col style="text-align: center;" size="2.5" class="ion-align-items-center ion-no-padding" no-padding>
                      <ion-text *ngIf="producto.id>0&&producto.id<10" color="danger" style="color:danger">0000000{{producto.id}}</ion-text>
                      <ion-text *ngIf="producto.id>10&&producto.id<100" color="danger" style="color:danger">000000{{producto.id}}</ion-text>
                      <ion-text *ngIf="producto.id>100&&producto.id<1000" color="danger" style="color:danger">00000{{producto.id}}</ion-text>
                      <ion-text *ngIf="producto.id>1000&&producto.id<10000" color="danger" style="color:danger">0000{{producto.id}}</ion-text>
                      <ion-text *ngIf="producto.id>10000&&producto.id<100000" color="danger" style="color:danger">000{{producto.id}}</ion-text>
                    </ion-col>
                    <ion-col style="text-align: center;" size="6" class="ion-align-items-center ion-no-padding" no-padding>
                      <ion-text color="danger" style="color:danger">{{producto.descripcion}}</ion-text>
                    </ion-col>

                    <ion-col style="text-align: center;" size="1.5" class="ion-align-items-right ion-no-padding" no-padding>
                      <ion-button (click)="solicitar(producto)" size="small">
                      <ion-icon style="font-size: x-large; border-radius: 5px; color:white;" name="cut-outline" item-right></ion-icon><ion-text style="font-size: 9px; color:white;">Fraccionar</ion-text>
                    </ion-button>
                    </ion-col>
                    
                  </ion-row>

                  <ion-row>
                  </ion-row>

              </ion-list>
      </ion-col>
  </ion-row>


  </ion-grid>

  
</ion-content>
