<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Auditoria</ion-title>
    <ion-buttons slot="end">
      <ion-button href="https://cables.cameleco.com/ayuda-auditoria/" target="_blank" style="text-transform: none; margin-right: 15px;">Ayuda 
          <ion-icon  name="information-circle-outline"></ion-icon>
      </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid *ngIf="this.seccionactiva=='no'">
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-text  (click)="reingresar()" color="danger" >Sección expirada debe reingresar.</ion-text>
      </ion-col>
    </ion-row>
  <ion-row class="ion-align-items-center">
    <ion-col size="12" class="ion-text-center">
      <ion-button  (click)="reingresar()" color="danger" ><ion-text style="font-weight: 500;">REINGRESAR</ion-text>
      </ion-button>
    </ion-col>
  </ion-row>
  </ion-grid>

  <ion-grid *ngIf="this.puedenavegaraqui=='no'">
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-text color="danger" >No tiene permisos para navegar en esta sección.</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid *ngIf="this.puedenavegaraqui=='si'">
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-text color="danger" >Bienvenido.</ion-text>
      </ion-col>
    </ion-row>

    <ion-segment (ionChange)="segmentChanged($event)"  
    value="ordenesdefraccionamiento"
    scrollable="true"
    mode="ios"
    [(ngModel)]="segmentModel" 
    (ionChange)="segmentChanged($event)"
    >

  
      <ion-segment-button value="ordenesdefraccionamiento">
        <ion-label>Ordenes de<br>fraccionamiento</ion-label>
      </ion-segment-button>
      <ion-segment-button value="fraccionamientosrealizados">
        <ion-label>Fraccionamientos<br> realizados</ion-label>
      </ion-segment-button>
      <ion-segment-button value="fraccionamientossuspendidos">
        <ion-label>Fraccionamientos<br>suspendidos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="fraccionamientosacarrete">
        <ion-label>Fraccionamientos<br> a carrete</ion-label>
      </ion-segment-button>
      
    <br>
    <ion-segment-button value="usuarios">
      <ion-label>Usuarios</ion-label>
    </ion-segment-button>
    
  </ion-segment>

    <ion-card style="background-color:#f2f2f2;" *ngIf="this.segmentModel=='ordenesdefraccionamiento'">
      <ion-card-header>
        <ion-card-title>Pendientes para fraccionar</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>

        <ion-row *ngIf="this.step=='1'" class="ion-align-items-center">
          <ion-col size="3" class="ion-text-center">
            
              <p>Referencia</p>
              <ion-item>
              <ion-input (keyup.enter)="buscar()" type="text" value="{{this.campo1}}" (input)="CHANGEcampo1($event)"></ion-input>
            </ion-item>

          </ion-col>
          <ion-col size="3" class="ion-text-center">
            
              <p>Codigo</p>
              <ion-item>
              <ion-input (keyup.enter)="buscar()" type="text" value="{{this.campo2}}" (input)="CHANGEcampo2($event)"></ion-input>
            </ion-item>

          </ion-col>
          <ion-col size="3" class="ion-text-center">
            
              <p>Nombre:</p>
              <ion-item>
              <ion-input (keyup.enter)="buscar()" type="text" value="{{this.campo3}}" (input)="CHANGEcampo3($event)"></ion-input>
            </ion-item>

          </ion-col>
          <ion-col size="3" class="ion-text-center">
            
              <p style="font-size: small;">Documento de<br>Referencia:</p>
              <ion-item>
                <ion-input (keyup.enter)="buscar()" type="text" value="{{this.campo4}}" (input)="CHANGEcampo4($event)"></ion-input>
              </ion-item>

          </ion-col>
        </ion-row>

        <ion-row *ngIf="this.step=='1'" class="ion-align-items-center">
          <ion-col size="3" class="ion-text-center">
            
              <p style="font-size: small;">Nro orden<br>fraccionamiento</p>
              <ion-item>
              <ion-input (keyup.enter)="buscar()" type="text" value="{{this.campo5}}" (input)="CHANGEcampo5($event)"></ion-input>
            </ion-item>

          </ion-col>
          <ion-col size="3" class="ion-text-center">
            
              <p>Por operario</p>
              <ion-item>
              <ion-input (keyup.enter)="buscar()" type="text" value="{{this.campo6}}" (input)="CHANGEcampo6($event)"></ion-input>
            </ion-item>

          </ion-col>
          <ion-col size="3" class="ion-text-center">
            
              <p>Fecha inicio:</p>
              <ion-item>
              <ion-input (keyup.enter)="buscar()" type="text" value="{{this.campo7}}" (input)="CHANGEcampo7($event)"></ion-input>
            </ion-item>

          </ion-col>
          <ion-col size="3" class="ion-text-center">
            
              <p>fecha final:</p>
              <ion-item>
              <ion-input (keyup.enter)="buscar()" type="text" value="{{this.campo8}}" (input)="CHANGEcampo8($event)"></ion-input>
            </ion-item>

          </ion-col>
        </ion-row>
          <ion-row *ngIf="this.step=='1'" class="ion-align-items-center">
            <ion-col size="12" class="ion-text-center">
              <ion-button
              [disabled]="  
              
              this.campo1==''
              &&this.campo2==''
              &&this.campo3==''
              &&this.campo4==''
              &&this.campo5==''
              &&this.campo6==''
              &&this.campo7==''
              &&this.campo8==''
              
              "
               (click)="buscar()">Buscar</ion-button>
            </ion-col>
          </ion-row>

        <ion-row *ngIf="this.step=='2'" class="ion-align-items-center">        
          <ion-col size="12" class="ion-text-center">

            <ion-button (click)="volver()"><ion-icon name="arrow-back-outline"></ion-icon>volver</ion-button>
                <!-- <ion-searchbar placeholder="Buscar..." [(ngModel)]="filterTerm" animated="true"></ion-searchbar> -->
    
              <ion-row style="text-align: center;">
                <ion-col size="1" style="font-size:small;"><ion-text>Hora<br>orden</ion-text></ion-col>
                <ion-col size="1.5" style="font-size:small;"><ion-text>Numero <br>de orden</ion-text></ion-col>
                <ion-col size="4.5" style="font-size:small;"><ion-text>Nombre</ion-text></ion-col>
                <ion-col size="1" style="font-size:small;"><ion-text>Factura</ion-text></ion-col>
                <ion-col size="1.5" style="font-size:small;"><ion-text>Metros</ion-text></ion-col>
                <ion-col size="2.5" style="font-size:small;"><ion-text>operario</ion-text></ion-col>
              </ion-row>

                <ion-list style="text-align: center;" class="ion-align-items-center">
                    <!-- <ion-item > -->
                      <ion-row style="border-bottom: 1px solid #151515 !important; border-top: 1px solid #151515 !important;" *ngFor="let producto of respuestaauditoria1 | filter:filterTerm" class="ion-align-items-center ion-no-padding" no-padding>
                        <ion-col size="1" class="ion-align-items-center ion-no-padding" no-padding>
                          <ion-text color="danger" style="color:danger">{{producto.fecha_orden}}<br>{{producto.hora_orden}}</ion-text>
                        </ion-col>
                        <ion-col size="1.5" class="ion-align-items-center ion-no-padding" no-padding>

                          <ion-text *ngIf="producto.id_inutilizado>0&&producto.id_inutilizado<10" color="danger" style="color:danger">0000000{{producto.id_inutilizado}}</ion-text>
                          <ion-text *ngIf="producto.id_inutilizado>10&&producto.id_inutilizado<100" color="danger" style="color:danger">000000{{producto.id_inutilizado}}</ion-text>
                          <ion-text *ngIf="producto.id_inutilizado>100&&producto.id_inutilizado<1000" color="danger" style="color:danger">00000{{producto.id_inutilizado}}</ion-text>
                          <ion-text *ngIf="producto.id_inutilizado>1000&&producto.id_inutilizado<10000" color="danger" style="color:danger">0000{{producto.id_inutilizado}}</ion-text>
                          <ion-text *ngIf="producto.id_inutilizado>10000&&producto.id_inutilizado<100000" color="danger" style="color:danger">000{{producto.id_inutilizado}}</ion-text>
      
                        </ion-col>
                        <ion-col size="4.5" class="ion-align-items-center ion-no-padding" no-padding>
                          <ion-text color="danger" style="color:danger">{{producto.descripcion}}</ion-text>
                        </ion-col>
                        <ion-col size="1.5" class="ion-align-items-right ion-no-padding" no-padding>
                          <ion-text color="danger" style="color:danger">{{producto.documento}}</ion-text>
                        </ion-col>
                        <ion-col size="1" class="ion-align-items-right ion-no-padding" no-padding>
                          <ion-text color="danger" style="color:danger">{{producto.metrosafraccionar}}</ion-text>
                        </ion-col>
                        <ion-col size="2.5" class="ion-align-items-right ion-no-padding" no-padding>
                          <ion-text color="danger" style="color:danger">{{producto.nombre_ordenador}}</ion-text>
                        </ion-col>
                        
                      </ion-row>
                    <!--  -->
                  </ion-list>
          </ion-col>
      </ion-row>


      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="this.segmentModel=='fraccionamientosrealizados'">
      <ion-card-header>
        <ion-card-subtitle>Listado de ordenes de fraccionamiento</ion-card-subtitle>
        <ion-card-title>Fraccionamientos Realizados</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>

        <ion-row *ngIf="this.step=='1'" class="ion-align-items-center">
          <ion-col size="3" class="ion-text-center">
            
              <p>Referencia</p>
              <ion-item>
              <ion-input (keyup.enter)="buscar()" type="text" value="{{this.campo1}}" (input)="CHANGEcampo1($event)"></ion-input>
            </ion-item>

          </ion-col>
          <ion-col size="3" class="ion-text-center">
            
              <p>Codigo</p>
              <ion-item>
              <ion-input (keyup.enter)="buscar()" type="text" value="{{this.campo2}}" (input)="CHANGEcampo2($event)"></ion-input>
            </ion-item>

          </ion-col>
          <ion-col size="3" class="ion-text-center">
            
              <p>Nombre:</p>
              <ion-item>
              <ion-input (keyup.enter)="buscar()" type="text" value="{{this.campo3}}" (input)="CHANGEcampo3($event)"></ion-input>
            </ion-item>

          </ion-col>
          <ion-col size="3" class="ion-text-center">
            
              <p style="font-size: small;">Documento de<br>Referencia:</p>
              <ion-item>
                <ion-input (keyup.enter)="buscar()" type="text" value="{{this.campo4}}" (input)="CHANGEcampo4($event)"></ion-input>
              </ion-item>

          </ion-col>
        </ion-row>

        <ion-row *ngIf="this.step=='1'" class="ion-align-items-center">
          <ion-col size="3" class="ion-text-center">
            
              <p style="font-size: small;">Nro orden<br>fraccionamiento</p>
              <ion-item>
              <ion-input (keyup.enter)="buscar()" type="text" value="{{this.campo5}}" (input)="CHANGEcampo5($event)"></ion-input>
            </ion-item>

          </ion-col>
          <ion-col size="3" class="ion-text-center">
            
              <p>Por operario</p>
              <ion-item>
              <ion-input (keyup.enter)="buscar()" type="text" value="{{this.campo6}}" (input)="CHANGEcampo6($event)"></ion-input>
            </ion-item>

          </ion-col>
          <ion-col size="3" class="ion-text-center">
            
              <p>Fecha inicio:</p>
              <ion-item>
              <ion-input (keyup.enter)="buscar()" type="text" value="{{this.campo7}}" (input)="CHANGEcampo7($event)"></ion-input>
            </ion-item>

          </ion-col>
          <ion-col size="3" class="ion-text-center">
            
              <p>fecha final:</p>
              <ion-item>
              <ion-input (keyup.enter)="buscar()" type="text" value="{{this.campo8}}" (input)="CHANGEcampo8($event)"></ion-input>
            </ion-item>

          </ion-col>
        </ion-row>
          <ion-row *ngIf="this.step=='1'" class="ion-align-items-center">
            <ion-col size="12" class="ion-text-center">
              <ion-button
              [disabled]="  
              
              this.campo1==''
              &&this.campo2==''
              &&this.campo3==''
              &&this.campo4==''
              &&this.campo5==''
              &&this.campo6==''
              &&this.campo7==''
              &&this.campo8==''
              
              "
               (click)="buscar()">Buscar</ion-button>
            </ion-col>
          </ion-row>

        <ion-row  *ngIf="this.step=='2'" class="ion-align-items-center">
          <ion-col size="12" class="ion-text-center">
            <ion-button (click)="volver()"><ion-icon name="arrow-back-outline"></ion-icon>volver</ion-button>
                <!-- <ion-searchbar placeholder="Buscar..." [(ngModel)]="filterTerm" animated="true"></ion-searchbar> -->
    
              <ion-row style="text-align: center;">
                <ion-col size="1" style="font-size:small;"><ion-text>Hora<br>orden</ion-text></ion-col>
                <ion-col size="1" style="font-size:small;"><ion-text>Numero <br>de orden</ion-text></ion-col>
                <ion-col size="3.5" style="font-size:small;"><ion-text>Nombre</ion-text></ion-col>
                <ion-col size="1" style="font-size:small;"><ion-text>Factura</ion-text></ion-col>
                <ion-col size="1" style="font-size:small;"><ion-text>Metros</ion-text></ion-col>
                <ion-col size="2.5" style="font-size:small;"><ion-text>operario</ion-text></ion-col>
                <ion-col size="2" style="font-size:small;"><ion-text>ordenado<br>por</ion-text></ion-col>

              </ion-row>

                <ion-list style="text-align: center;" class="ion-align-items-center">
                    <!-- <ion-item > -->
                      <ion-row style="border-bottom: 1px solid #151515 !important; border-top: 1px solid #151515 !important;" *ngFor="let producto of respuestaauditoria2 | filter:filterTerm" class="ion-align-items-center ion-no-padding" no-padding>
                        <ion-col size="1" class="ion-align-items-center ion-no-padding" no-padding>
                          <ion-text color="danger" style="color:danger">{{producto.fecha_orden}}<br>{{producto.hora_orden}}</ion-text>
                        </ion-col>
                        <ion-col size="1" class="ion-align-items-center ion-no-padding" no-padding>

                          <ion-text *ngIf="producto.id_inutilizado>0&&producto.id_inutilizado<10" color="danger" style="color:danger">0000000{{producto.id_inutilizado}}</ion-text>
                          <ion-text *ngIf="producto.id_inutilizado>10&&producto.id_inutilizado<100" color="danger" style="color:danger">000000{{producto.id_inutilizado}}</ion-text>
                          <ion-text *ngIf="producto.id_inutilizado>100&&producto.id_inutilizado<1000" color="danger" style="color:danger">00000{{producto.id_inutilizado}}</ion-text>
                          <ion-text *ngIf="producto.id_inutilizado>1000&&producto.id_inutilizado<10000" color="danger" style="color:danger">0000{{producto.id_inutilizado}}</ion-text>
                          <ion-text *ngIf="producto.id_inutilizado>10000&&producto.id_inutilizado<100000" color="danger" style="color:danger">000{{producto.id_inutilizado}}</ion-text>
      
                        </ion-col>
                        <ion-col size="3.5" class="ion-align-items-center ion-no-padding" no-padding>
                          <ion-text color="danger" style="color:danger">{{producto.descripcion}}</ion-text>
                        </ion-col>
                        <ion-col size="1" class="ion-align-items-right ion-no-padding" no-padding>
                          <ion-text color="danger" style="color:danger">{{producto.documento}}</ion-text>
                        </ion-col>
                        <ion-col size="1" class="ion-align-items-right ion-no-padding" no-padding>
                          <ion-text color="danger" style="color:danger">{{producto.metrosafraccionar}}</ion-text>
                        </ion-col>
                        <ion-col size="2.5" class="ion-align-items-right ion-no-padding" no-padding>
                          <ion-text color="danger" style="color:danger">{{producto.operario_fraccionado}}</ion-text>
                        </ion-col>
                        <ion-col size="2" class="ion-align-items-right ion-no-padding" no-padding>
                          <ion-text color="danger" style="color:danger">{{producto.nombre_ordenador}}</ion-text>
                        </ion-col>
                        
                      </ion-row>
                    <!--  -->
                  </ion-list>
          </ion-col>
      </ion-row>


      </ion-card-content>
    </ion-card>


    <ion-card *ngIf="this.segmentModel=='fraccionamientossuspendidos'">
      <ion-card-header>
        <ion-card-subtitle>Listado de ordenes de fraccionamiento</ion-card-subtitle>
        <ion-card-title>Fraccionamientos suspendidos</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>


        <ion-row *ngIf="this.step=='1'" class="ion-align-items-center">
          <ion-col size="3" class="ion-text-center">
            
              <p>Referencia</p>
              <ion-item>
              <ion-input (keyup.enter)="buscar()" type="text" value="{{this.campo1}}" (input)="CHANGEcampo1($event)"></ion-input>
            </ion-item>

          </ion-col>
          <ion-col size="3" class="ion-text-center">
            
              <p>Codigo</p>
              <ion-item>
              <ion-input (keyup.enter)="buscar()" type="text" value="{{this.campo2}}" (input)="CHANGEcampo2($event)"></ion-input>
            </ion-item>

          </ion-col>
          <ion-col size="3" class="ion-text-center">
            
              <p>Nombre:</p>
              <ion-item>
              <ion-input (keyup.enter)="buscar()" type="text" value="{{this.campo3}}" (input)="CHANGEcampo3($event)"></ion-input>
            </ion-item>

          </ion-col>
          <ion-col size="3" class="ion-text-center">
            
              <p style="font-size: small;">Documento de<br>Referencia:</p>
              <ion-item>
                <ion-input (keyup.enter)="buscar()" type="text" value="{{this.campo4}}" (input)="CHANGEcampo4($event)"></ion-input>
              </ion-item>

          </ion-col>
        </ion-row>

        <ion-row *ngIf="this.step=='1'" class="ion-align-items-center">
          <ion-col size="3" class="ion-text-center">
            
              <p style="font-size: small;">Nro orden<br>fraccionamiento</p>
              <ion-item>
              <ion-input (keyup.enter)="buscar()" type="text" value="{{this.campo5}}" (input)="CHANGEcampo5($event)"></ion-input>
            </ion-item>

          </ion-col>
          <ion-col size="3" class="ion-text-center">
            
              <p>Por operario</p>
              <ion-item>
              <ion-input (keyup.enter)="buscar()" type="text" value="{{this.campo6}}" (input)="CHANGEcampo6($event)"></ion-input>
            </ion-item>

          </ion-col>
          <ion-col size="3" class="ion-text-center">
            
              <p>Fecha inicio:</p>
              <ion-item>
              <ion-input (keyup.enter)="buscar()" type="text" value="{{this.campo7}}" (input)="CHANGEcampo7($event)"></ion-input>
            </ion-item>

          </ion-col>
          <ion-col size="3" class="ion-text-center">
            
              <p>fecha final:</p>
              <ion-item>
              <ion-input (keyup.enter)="buscar()" type="text" value="{{this.campo8}}" (input)="CHANGEcampo8($event)"></ion-input>
            </ion-item>

          </ion-col>
        </ion-row>
          <ion-row *ngIf="this.step=='1'" class="ion-align-items-center">
            <ion-col size="12" class="ion-text-center">
              <ion-button
              [disabled]="  
              
              this.campo1==''
              &&this.campo2==''
              &&this.campo3==''
              &&this.campo4==''
              &&this.campo5==''
              &&this.campo6==''
              &&this.campo7==''
              &&this.campo8==''
              
              "
               (click)="buscar()">Buscar</ion-button>
            </ion-col>
          </ion-row>

        <ion-row *ngIf="this.step=='2'" class="ion-align-items-center">
          <ion-col size="12" class="ion-text-center">
            <ion-button (click)="volver()"><ion-icon name="arrow-back-outline"></ion-icon>volver</ion-button>
                <!-- <ion-searchbar placeholder="Buscar..." [(ngModel)]="filterTerm" animated="true"></ion-searchbar> -->
    
              <ion-row style="text-align: center;">
                <ion-col size="1" style="font-size:small;"><ion-text>Hora<br>orden</ion-text></ion-col>
                <ion-col size="1" style="font-size:small;"><ion-text>Numero <br>de orden</ion-text></ion-col>
                <ion-col size="3" style="font-size:small;"><ion-text>Nombre</ion-text></ion-col>
                <ion-col size="1" style="font-size:small;"><ion-text>Factura</ion-text></ion-col>
                <ion-col size="1" style="font-size:small;"><ion-text>Metros</ion-text></ion-col>
                <ion-col size="1.5" style="font-size:small;"><ion-text>operario</ion-text></ion-col>
                <ion-col size="1.5" style="font-size:small;"><ion-text>ordenado<br>por</ion-text></ion-col>
                <ion-col size="2" style="font-size:small;"><ion-text>suspendido<br>por</ion-text></ion-col>

              </ion-row>

                <ion-list style="text-align: center;" class="ion-align-items-center">
                    <!-- <ion-item > -->
                      <ion-row style="border-bottom: 1px solid #151515 !important; border-top: 1px solid #151515 !important;" *ngFor="let producto of respuestaauditoria3 | filter:filterTerm" class="ion-align-items-center ion-no-padding" no-padding>
                        <ion-col size="1" class="ion-align-items-center ion-no-padding" no-padding>
                          <ion-text color="danger" style="color:danger">{{producto.fecha_orden}}<br>{{producto.hora_orden}}</ion-text>
                        </ion-col>
                        <ion-col size="1" class="ion-align-items-center ion-no-padding" no-padding>

                          <ion-text *ngIf="producto.id_inutilizado>0&&producto.id_inutilizado<10" color="danger" style="color:danger">0000000{{producto.id_inutilizado}}</ion-text>
                          <ion-text *ngIf="producto.id_inutilizado>10&&producto.id_inutilizado<100" color="danger" style="color:danger">000000{{producto.id_inutilizado}}</ion-text>
                          <ion-text *ngIf="producto.id_inutilizado>100&&producto.id_inutilizado<1000" color="danger" style="color:danger">00000{{producto.id_inutilizado}}</ion-text>
                          <ion-text *ngIf="producto.id_inutilizado>1000&&producto.id_inutilizado<10000" color="danger" style="color:danger">0000{{producto.id_inutilizado}}</ion-text>
                          <ion-text *ngIf="producto.id_inutilizado>10000&&producto.id_inutilizado<100000" color="danger" style="color:danger">000{{producto.id_inutilizado}}</ion-text>
      
                        </ion-col>
                        <ion-col size="3" class="ion-align-items-center ion-no-padding" no-padding>
                          <ion-text color="danger" style="color:danger">{{producto.descripcion}}</ion-text>
                        </ion-col>
                        <ion-col size="1" class="ion-align-items-right ion-no-padding" no-padding>
                          <ion-text color="danger" style="color:danger">{{producto.documento}}</ion-text>
                        </ion-col>
                        <ion-col size="1" class="ion-align-items-right ion-no-padding" no-padding>
                          <ion-text color="danger" style="color:danger">{{producto.metrosafraccionar}}</ion-text>
                        </ion-col>
                        <ion-col size="1.5" class="ion-align-items-right ion-no-padding" no-padding>
                          <ion-text color="danger" style="color:danger">{{producto.operario_fraccionado}}</ion-text>
                        </ion-col>
                        <ion-col size="1.5" class="ion-align-items-right ion-no-padding" no-padding>
                          <ion-text color="danger" style="color:danger">{{producto.nombre_ordenador}}</ion-text>
                        </ion-col>
                        <ion-col size="2" class="ion-align-items-right ion-no-padding" no-padding>
                          <ion-text color="danger" style="color:danger">{{producto.user_nombre_bloqueador}}</ion-text>
                        </ion-col>
                        
                      </ion-row>
                    <!--  -->
                  </ion-list>
          </ion-col>
      </ion-row>


      </ion-card-content>
    </ion-card>


    <ion-card *ngIf="this.segmentModel=='fraccionamientosacarrete'">
      <ion-card-header>
        <ion-card-subtitle>Busqueda de auditoria de procesos por ordenes de fraccionamiento</ion-card-subtitle>
        <!-- <ion-card-title>Fraccionamientos suspendidos</ion-card-title> -->
      </ion-card-header>
    
      <ion-card-content>


        <ion-row *ngIf="this.step=='1'" class="ion-align-items-center">

            
            <ion-col size="6" class="ion-text-center">
                <p>Codigo</p>
                     <ion-card>

                <ion-item>
                <ion-input (keyup.enter)="buscarauditoria4()" type="text" (input)="CHANGEauditoria4_numero_fraccionado($event)"></ion-input>
                </ion-item>     
                   </ion-card>

  
            </ion-col>
        </ion-row>


          <ion-row *ngIf="this.step=='1'" class="ion-align-items-center">
            <ion-col size="12" class="ion-text-center">
              <ion-button

               (click)="buscarauditoria4()">Buscar</ion-button>
            </ion-col>
          </ion-row>

        <ion-row *ngIf="this.step=='2'" class="ion-align-items-center">
          <ion-col size="12" class="ion-text-center">
            <ion-button (click)="volver()"><ion-icon name="arrow-back-outline"></ion-icon>volver</ion-button>
                <!-- <ion-searchbar placeholder="Buscar..." [(ngModel)]="filterTerm" animated="true"></ion-searchbar> -->
    
              <ion-row style="text-align: center;">
                <ion-col size="2" style="font-size:small;"><ion-text>Referencia</ion-text></ion-col>
                <ion-col size="2" style="font-size:small;"><ion-text>Codigo</ion-text></ion-col>
                <ion-col size="2" style="font-size:small;"><ion-text>Nombre</ion-text></ion-col>
                <ion-col size="2" style="font-size:small;"><ion-text>Bodega</ion-text></ion-col>
                <ion-col size="2" style="font-size:small;"><ion-text>Metros</ion-text></ion-col>
                <ion-col size="2" style="font-size:small;"><ion-text>Cod. Carrete</ion-text></ion-col>

              </ion-row>

                <ion-list style="text-align: center;" class="ion-align-items-center">
                    <!-- <ion-item > -->
                      <ion-row style="border-bottom: 1px solid #151515 !important; border-top: 1px solid #151515 !important;" *ngFor="let producto of respuestaauditoria4 | filter:filterTerm" class="ion-align-items-center ion-no-padding" no-padding>
                        <ion-col size="2" class="ion-align-items-center ion-no-padding" no-padding>
                          <ion-text style="font-size:small;" color="danger" style="color:danger">{{producto.referencia}}</ion-text>
                        </ion-col>
                        <ion-col size="2" class="ion-align-items-center ion-no-padding" no-padding>

                          <ion-text style="font-size:small;" *ngIf="producto.id_inutilizado>0&&producto.id_inutilizado<10" color="danger" style="color:danger">0000000{{producto.id_inutilizado}}</ion-text>
                          <ion-text style="font-size:small;" *ngIf="producto.id_inutilizado>10&&producto.id_inutilizado<100" color="danger" style="color:danger">000000{{producto.id_inutilizado}}</ion-text>
                          <ion-text style="font-size:small;" *ngIf="producto.id_inutilizado>100&&producto.id_inutilizado<1000" color="danger" style="color:danger">00000{{producto.id_inutilizado}}</ion-text>
                          <ion-text style="font-size:small;" *ngIf="producto.id_inutilizado>1000&&producto.id_inutilizado<10000" color="danger" style="color:danger">0000{{producto.id_inutilizado}}</ion-text>
                          <ion-text style="font-size:small;" *ngIf="producto.id_inutilizado>10000&&producto.id_inutilizado<100000" color="danger" style="color:danger">000{{producto.id_inutilizado}}</ion-text>
      
                        </ion-col>
                        <ion-col size="2" class="ion-align-items-center ion-no-padding" no-padding>
                          <ion-text style="font-size:small;" color="danger" style="color:danger">{{producto.descripcion}}</ion-text>
                        </ion-col>
                        <ion-col size="2" class="ion-align-items-right ion-no-padding" no-padding>
                          <ion-text style="font-size:small;" color="danger" style="color:danger">{{producto.bodega}}</ion-text>
                        </ion-col>
                        <ion-col size="2" class="ion-align-items-right ion-no-padding" no-padding>
                          <ion-text style="font-size:small;" color="danger" style="color:danger">{{producto.metrosafraccionar}}</ion-text>
                        </ion-col>
                        <ion-col size="2" class="ion-align-items-right ion-no-padding" no-padding>
                          <ion-text style="font-size:small;" color="danger" style="color:danger">{{producto.numero_fraccionado}}</ion-text>
                        </ion-col>
                        
                      </ion-row>
                    <!--  -->
                  </ion-list>
          </ion-col>
      </ion-row>



      


      </ion-card-content>
    </ion-card>


    <ion-card *ngIf="this.segmentModel=='usuarios'">


      <ion-segment (ionChange)="segmentChanged2($event)"  
      value="creados"
      scrollable="true"
      mode="ios"
      [(ngModel)]="segmentModel2" 
      >
    
    
        <ion-segment-button value="creados">
          <ion-label>Creados</ion-label>
        </ion-segment-button>
        <ion-segment-button value="modificados">
          <ion-label>Modificados</ion-label>
        </ion-segment-button>
      <ion-segment-button value="desactivadosactivados">
        <ion-label>Desactivados/ Desactivados</ion-label>
      </ion-segment-button>
      
    </ion-segment>
    


    <ion-card *ngIf="this.segmentModel2=='creados'">


      <section *ngFor="let usuarios of respuestaauditoriausuarioscreados">

      <ion-row>
          <ion-col style="text-align:center;" size="6">
            <ion-text color=danger>Usuario:</ion-text>

          </ion-col>
          <ion-col  style="text-align:center;" size="6">
            <ion-text color=danger>Creado Por:</ion-text>
          </ion-col>
      </ion-row>
      
      <ion-row>

        <ion-col  style="text-align:center;" size="6">
          <ion-text>{{usuarios.nombre}}</ion-text>
        </ion-col>
        <ion-col  style="text-align:center;" size="6">
          <ion-text>{{usuarios.creado_por}}</ion-text>
        </ion-col>

      </ion-row>

      </section>


      </ion-card>

      <ion-card *ngIf="this.segmentModel2=='modificados'">


        <section *ngFor="let usuarios of respuestaauditoriausuariosmodificados">


        <ion-row>

          <ion-col  style="text-align:center;" size="6">
            <ion-text color=danger>Usuario:</ion-text>

          </ion-col>
          <ion-col  style="text-align:center;" size="6">
            <ion-text color=danger>Modificado Por:</ion-text>
          </ion-col>

        </ion-row>
        
        <ion-row>

           <ion-col  style="text-align:center;" size="6">
            <ion-text>{{usuarios.nombre}}</ion-text>
          </ion-col>
          <ion-col  style="text-align:center;" size="6">
            <ion-text>{{usuarios.modificado_por}}</ion-text>

          </ion-col>
          
        </ion-row>

        </section>  


      </ion-card>

          <ion-card *ngIf="this.segmentModel2=='desactivadosactivados'">

            <section *ngFor="let usuarios of respuestaauditoriausuariosdesactivadosactivados">


            <ion-row>

              <ion-col  style="text-align:center;" size="6">
                <ion-text color=danger>Usuario:</ion-text>
              </ion-col>
              <ion-col  style="text-align:center;" size="6">
                <ion-text color=danger>desac/act Por:</ion-text>
              </ion-col>

            </ion-row>
            
            <ion-row>

              <ion-col  style="text-align:center;" size="6">
                <ion-text>{{usuarios.nombre}}</ion-text>
              </ion-col>
              <ion-col  style="text-align:center;" size="6">
                <ion-text>{{usuarios.activado_o_desactivado_por}}</ion-text>
              </ion-col>
              
            </ion-row>
            

            </section>
      

           </ion-card>


          </ion-card>



  </ion-grid>




  
</ion-content>
