<ion-header>
  <ion-toolbar style="text-align: center;">
      <h1 style="text-align: center; font-family:PeaceSans; color:#ff0110; line-height:0%; ">CAMELECO <br>
        
        <h6 style="text-align: center; color:#303030; font-size: small;">
          www.cameleco.com
        </h6>
      
      </h1>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>




<ion-grid class="todocentrado">

  <ion-row style="justify-content: center; justify-content: center;">
<ion-text><h1 color="danger">Inicio de sesión</h1></ion-text>
  </ion-row>

    <ion-row>

        <ion-col size="9">
          <ion-card color="danger" >
            <ion-item >
              <ion-label position="floating">Codigo de empleado:</ion-label>
              <ion-input (keyup.enter)="verificarsillenoloscampos()" type="tel-local" (ionChange)="preparardataparaintentodeLogin($event)" color="danger" ></ion-input>
            </ion-item>
          </ion-card>
          <ion-card color="danger" >
            <ion-item>
              <ion-label position="floating">Bodega:</ion-label>
              <ion-input (keyup.enter)="verificarsillenoloscampos()" type="tel-local" (ionChange)="ONCHANGEbodega($event)" color="danger" ></ion-input>
            </ion-item>
          </ion-card>
        </ion-col>

        <ion-col size="3"   class="ion-no-padding" no-padding lines="none">
          <ion-row>
            <ion-col size="4">

            </ion-col>
            <ion-col size="4">
                <ion-button style="height: 120%;">
                  <ion-icon  style="  font-size:48px" name="qr-code"   class="ion-no-padding" no-padding lines="none"></ion-icon>
                </ion-button>
            </ion-col>
            <ion-col size="4">
            </ion-col>
          </ion-row>
        </ion-col>


    </ion-row>

    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-button [disabled]="this.bodega==null||this.bodega==undefined||this.bodega==''" (click)="intentoLogin()" color="danger" ><ion-text style="font-weight: 500;">INGRESAR</ion-text>
        </ion-button>
      </ion-col>
    </ion-row>


</ion-grid>





  
</ion-content>
