<ion-header>
  <ion-toolbar>
    <ion-title>Inicio de sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-grid>
    <ion-row>
        <ion-col size="3">

        </ion-col>
        <ion-col size="3">
          <ion-card color="danger" >
            <ion-item >
              <ion-label  style="color:#ffffff" position="floating">Ingrese Codigo:</ion-label>
              <ion-input (ionChange)="preparardataparaintentodeLogin($event)" color="danger" ></ion-input>
            </ion-item>
          </ion-card>
        </ion-col>
        <ion-col size="3"   class="ion-no-padding" no-padding lines="none">

          <ion-row>
            <ion-col size="4">

            </ion-col>
            <ion-col size="4">
                <ion-button style="height: 120%;">
                  <ion-icon  style="  font-size:48px" name="qr-code"   class="ion-no-padding" no-padding lines="none"></ion-icon>
                </ion-button>
            </ion-col>
            <ion-col size="4">
            </ion-col>
          </ion-row>


        </ion-col>
        <ion-col size="3">

        </ion-col>


    </ion-row>

    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-button  (click)="intentoLogin()" color="danger" ><ion-text style="font-weight: 500;">INGRESAR</ion-text>
        </ion-button>
      </ion-col>
    </ion-row>


</ion-grid>





  
</ion-content>
