<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ingreso de Material</ion-title>
    <ion-buttons slot="end">
      <ion-button href="https://cables.cameleco.com/ayuda-ingreso-material/" target="_blank" style="text-transform: none; margin-right: 15px;">Ayuda 
        <ion-icon  name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid *ngIf="this.seccionactiva=='no'">
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-text  (click)="reingresar()" color="danger" >Sección expirada debe reingresar.</ion-text>
      </ion-col>
    </ion-row>
  <ion-row class="ion-align-items-center">
    <ion-col size="12" class="ion-text-center">
      <ion-button  (click)="reingresar()" color="danger" ><ion-text style="font-weight: 500;">REINGRESAR</ion-text>
      </ion-button>
    </ion-col>
  </ion-row>
  </ion-grid>

  <ion-grid *ngIf="this.puedenavegaraqui=='no'">
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-text color="danger" >No tiene permisos para navegar en esta sección.</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid *ngIf="this.puedenavegaraqui=='si'&&this.seccionactiva!='no'">
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-text color="danger" >Busqueda de referencias.</ion-text>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="this.step=='1'" class="ion-align-items-center">
      <ion-col size="3" class="ion-text-center">
        <ion-item>
          <ion-label position="floating">Referencia</ion-label>
          <ion-input (keyup.enter)="buscar()" type="text" value="{{this.campo1}}" (input)="CHANGEcampo1($event)"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="3" class="ion-text-center">
        <ion-item>
          <ion-label position="floating">Codigo</ion-label>
          <ion-input (keyup.enter)="buscar()" type="text" value="{{this.campo2}}" (input)="CHANGEcampo2($event)"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6" class="ion-text-center">
        <ion-item>
          <ion-label position="floating">Nombre:</ion-label>
          <ion-input (keyup.enter)="buscar()" type="text" value="{{this.campo3}}" (input)="CHANGEcampo3($event)"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
      <ion-row *ngIf="this.step=='1'" class="ion-align-items-center">
        <ion-col size="12" class="ion-text-center">
          <ion-button (click)="buscar()">Buscar</ion-button>
        </ion-col>
      </ion-row>


    <ion-row *ngIf="this.step=='2'" class="ion-align-items-center">

      <ion-col size="12" class="ion-text-center">
      <ion-button (click)="volver()"><ion-icon name="arrow-back-outline"></ion-icon>volver</ion-button>
        
            <ion-list class="ion-align-items-center">
                <!-- <ion-item > -->
                  <ion-row style="border-bottom: 1px solid #151515 !important; border-top: 1px solid #151515 !important;" *ngFor="let producto of productosenvista | filter:filterTerm" class="ion-align-items-center ion-no-padding" no-padding>
                    <ion-col size="3.5" class="ion-align-items-center ion-no-padding" no-padding>
                      <ion-text color="danger" style="color:danger">{{producto.referencia}}</ion-text>
                    </ion-col>
                    <ion-col size="3.5" class="ion-align-items-center ion-no-padding" no-padding>
                      <ion-text color="danger" style="color:danger">{{producto.producto}}</ion-text>
                    </ion-col>
                    <ion-col size="4" class="ion-align-items-center ion-no-padding" no-padding>
                      <ion-text color="danger" style="color:danger">{{producto.descripcion}}</ion-text>
                    </ion-col>
                    <ion-col size="1" class="ion-align-items-right ion-no-padding" no-padding>
                      <ion-button (click)="iradetalles(producto)" size="small">
                      <ion-icon style="font-size: x-large; border-radius: 5px; color:white;" name="enter-outline" item-right></ion-icon>
                    </ion-button>
                    </ion-col>
                    
                  </ion-row>
                <!-- </ion-item> -->
              </ion-list>
      </ion-col>
  </ion-row>


  </ion-grid>



  
</ion-content>