<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ingreso de Material imprimir</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="this.seccionactiva=='no'">
    <ion-grid>
        <ion-row class="ion-align-items-center">
            <ion-col size="12" class="ion-text-center">
                <ion-button  (click)="reingresar()" color="danger" ><ion-text style="font-weight: 500;"><ion-icon name="arrow-back-outline"></ion-icon>Volver</ion-text>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>

<ion-content *ngIf="this.seccionactiva!='no'">


  
  <ion-grid (ionChange)="activarboton()">

    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-button  (click)="volver()" color="danger" ><ion-text style="font-weight: 500;"><ion-icon name="arrow-back-outline"></ion-icon>Volver</ion-text>
        </ion-button>
      </ion-col>
    </ion-row>

  <ion-card>
    <ion-card-header style="text-align: center;">Ingreso de carretes / rollos</ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col size="4">
          <ion-card-title style="text-align: center;">Referencia:</ion-card-title><br>
          <ion-card-subtitle style="text-align: center;">{{this.productoquellega.referencia}}</ion-card-subtitle>
        </ion-col>
        <ion-col size="4">
          <ion-card-title style="text-align: center;">Codigo:</ion-card-title><br>
          <ion-card-subtitle style="text-align: center;">{{this.productoquellega.producto}}</ion-card-subtitle>
        </ion-col>
        <ion-col size="4">
          <ion-card-title style="text-align: center;">Nombre:</ion-card-title><br>
          <ion-card-subtitle style="text-align: center;">{{this.productoquellega.descripcion}}</ion-card-subtitle>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col size="4">
        <ion-item >
          <ion-label position="floating">Carrete/Rollo:</ion-label><br>
          <ion-select (ionChange)="ONCHANGEcarreteorrollo($event)" interface="popover">
            <ion-select-option value="Carrete">Carrete</ion-select-option>
            <ion-select-option value="Rollo">Rollo</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="4">
        <ion-item>
          <ion-label position="floating">Numero de nota de entrada:</ion-label><br>
          <ion-input (ionChange)="ONCHANGEnumerodenotadeentrada($event)" type="number" style=" border-radius: 5px; background-color: #10101030;"></ion-input>
        </ion-item>      
      </ion-col>
      <ion-col size="4">
        <ion-item>
          <ion-label position="floating">Metros en carrete:</ion-label><br>
          <ion-input (ionChange)="ONCHANGEnetrosencarrete($event)" type="number" style=" border-radius: 5px; background-color: #10101030;"></ion-input>
        </ion-item>
        </ion-col>
      </ion-row>
    </ion-card-content>

    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-button *ngIf="this.desactivarboton!='si'"  (click)="guardardataymodalimprimirqr()" color="danger" ><ion-text style="font-weight: 500;"><ion-icon style="font-size: small;" name="qr-code-outline"></ion-icon>Imprimir QR</ion-text>
        </ion-button>
        <ion-button *ngIf="this.desactivarboton=='si'" disabled (click)="guardardataymodalimprimirqr()" color="danger" ><ion-text style="font-weight: 500;"><ion-icon style="font-size: small;" name="qr-code-outline"></ion-icon>Imprimir QR</ion-text>
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-card>

  <ion-row>

  <div class="ion-padding">
    <ion-input type="text" placeholder="My QR data" [(ngModel)]="qrData">
    </ion-input>


    <button ion-button full icon-left (click)="createCode()">
        <ion-icon name="barcode"></ion-icon>Create
    </button>
    <button ion-button full icon-left (click)="scanCode()">
        <ion-icon name="qr-scanner"></ion-icon>Scan Code
    </button>

    <ion-card *ngIf="createdCode">
        <ngx-qrcode [value]="createdCode">
        </ngx-qrcode>

        <ion-card-content>
            Value: {{ createdCode }}
        </ion-card-content>
    </ion-card>

    <ion-card *ngIf="scannedCode">
        <ion-card-content>
            Result from scan: {{ scannedCode }}
        </ion-card-content>
    </ion-card>
</div>

</ion-row>



</ion-grid>
</ion-content>
