<ion-app >
  <ion-split-pane contentId="main-content">
    <ion-menu  contentId="main-content" type="overlay">
      <ion-content >
        <ion-list id="inbox-list">
          <ion-list-header style="font-family:PeaceSans; color:#ff0110;"><h1 style="font-family:PeaceSans;"> CAMELECO</h1></ion-list-header>
          <ion-note>www.cameleco.com</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item *ngIf="p.title!='Pantalla de entregas'" (click)="distribuirlotraidodellogin()" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label >{{ p.title }}</ion-label>


            </ion-item>
            
            <ion-item lines="none" detail="false" style="text-decoration: none;"*ngIf="p.title=='Pantalla de entregas'" href="https://cables.cameleco.com/pantalla-entregas/" style="text-transform: none;" target="_blank">
            <!-- <a > -->
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label style="text-decoration: none;" *ngIf="p.title=='Pantalla de entregas'"> {{ p.title }}</ion-label>
              <!-- </a> -->
            </ion-item>

          </ion-menu-toggle>
        </ion-list>

        <ion-list id="labels-list">
          <ion-list-header>Sección  Activa</ion-list-header>
          <ion-item  lines="none">
            <ion-icon slot="start" ios="play-skip-back-outline" md="play-skip-back-outline"></ion-icon>
            <ion-label (click)="salir()">Salir</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet  id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
