<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Bloqueo de Órdenes de Fraccionamiento</ion-title>
    <ion-buttons slot="end">
      <ion-button href="https://cables.cameleco.com/ayudas/ayuda-bloq-orden-fraccionamiento/" target="_blank" style="text-transform: none; margin-right: 15px;">Ayuda 
          <ion-icon  name="information-circle-outline"></ion-icon>
      </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid *ngIf="this.seccionactiva=='no'">
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-text  (click)="reingresar()" color="danger" >Sección expirada debe reingresar.</ion-text>
      </ion-col>
    </ion-row>
  <ion-row class="ion-align-items-center">
    <ion-col size="12" class="ion-text-center">
      <ion-button  (click)="reingresar()" color="danger" ><ion-text style="font-weight: 500;">REINGRESAR</ion-text>
      </ion-button>
    </ion-col>
  </ion-row>
  </ion-grid>

  <ion-grid *ngIf="this.puedenavegaraqui=='no'">
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-text color="danger" >No tiene permisos para navegar en esta sección.</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid *ngIf="this.puedenavegaraqui=='si'">


    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
      </ion-col>
    </ion-row>

<ion-card>

  <ion-card-header>
    <ion-card-title style="text-align: center;" class="ion-align-items-center">
      <ion-text color="danger" >Suspención de órdenes de fraccionamiento.</ion-text>
    </ion-card-title>
    <ion-card-subtitle style="text-align: center;" class="ion-align-items-center">
      <ion-text color="danger" >Pendientes por fraccionar:</ion-text>
    </ion-card-subtitle>

  </ion-card-header>
  <ion-card-content>

    <ion-row style="border-radius: 5px;" class="ion-align-items-center">
      <ion-col size="2" class="ion-text-center">
        <ion-text color="danger" ><strong>Fec/Hr<br>Orden</strong></ion-text>
      </ion-col>

      <ion-col size="6" class="ion-text-center">
        <ion-text color="danger" ><strong>Nombre</strong></ion-text>
      </ion-col>

    <ion-col size="2" class="ion-text-center">
      <ion-text color="danger" ><strong>Factura</strong></ion-text>
    </ion-col>
    <ion-col size="2" class="ion-text-center">
      <ion-text color="danger" ><strong>Bloquear<br>orden</strong></ion-text>
    </ion-col>
  </ion-row>

<ion-row  class="ion-align-items-center" *ngFor="let ordenabloquear of respuestaobtenerordenesdefraccionamientopendientesynobloqueados">
    <ion-col size="2" class="ion-text-center">
      <ion-text color="danger" >{{ordenabloquear.fecha_fraccionado}}<br>{{ordenabloquear.hora_orden}}</ion-text>
    </ion-col>

    <ion-col size="6" class="ion-text-center">
      <ion-text color="danger" >{{ordenabloquear.descripcion}}</ion-text>
    </ion-col>

  <ion-col size="2" class="ion-text-center">
    <ion-text color="danger" >{{ordenabloquear.documento}}</ion-text>
  </ion-col>
  <ion-col size="2" class="ion-text-center">
    <ion-button (click)="bloquear(ordenabloquear)" size="small" color="danger">
       <ion-icon style="color:white;" name="lock-closed-outline"></ion-icon><ion-text style="font-size: 8px; color:white;">Bloquear<br>orden</ion-text>
    </ion-button>
  </ion-col>
</ion-row>

  </ion-card-content>



</ion-card>







  </ion-grid>

  
</ion-content>