<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Creación de Referencias</ion-title>
    <ion-buttons slot="end">
      <ion-button href="https://cables.cameleco.com/ayudas/ayuda-crear-referencias/" target="_blank" style="text-transform: none; margin-right: 15px;">Ayuda 
          <ion-icon  name="information-circle-outline"></ion-icon>
      </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid *ngIf="this.seccionactiva=='no'">
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-text  (click)="reingresar()" color="danger" >Sección expirada debe reingresar.</ion-text>
      </ion-col>
    </ion-row>
  <ion-row class="ion-align-items-center">
    <ion-col size="12" class="ion-text-center">
      <ion-button  (click)="reingresar()" color="danger" ><ion-text style="font-weight: 500;">REINGRESAR</ion-text>
      </ion-button>
    </ion-col>
  </ion-row>
  </ion-grid>

  <ion-grid *ngIf="this.puedenavegaraqui=='no'">
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-text color="danger" >No tiene permisos para navegar en esta sección.</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid *ngIf="this.puedenavegaraqui=='si'">

    <section *ngIf="this.step=='1'">
    <ion-row style="align-content: center; align-items: center; align-self: center;" class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-text color="danger" >Bienvenido.</ion-text><br>
        <ion-text color="danger" >Ingreso de productos</ion-text><br>
        <ion-text style="font-size: small;" >Seleccione un archivo formato (Excel)</ion-text>
          <!-- <ion-input (ionChange)="onFileChange($event)" multiple="false" type="file"></ion-input> -->
          <input style="align-content: center; align-items: center; align-self: center;" type="file" (change)="onFileChange($event)" multiple="false" />
          <ion-button style="align-content: center; align-items: center; align-self: center;" (click)="subir()" >Subir</ion-button>
      </ion-col>
    </ion-row>
  </section>

    <section *ngIf="this.step=='2'">
      <ion-row style="align-content: center; align-items: center; align-self: center;" class="ion-align-items-center">
        <ion-col size="4"  class="ion-text-center">
          <ion-text style="color:red" color="red">Referencia</ion-text>
        </ion-col>
        <ion-col size="4"  class="ion-text-center">
          <ion-text style="color:red" color="red">Código</ion-text>
        </ion-col>
        <ion-col size="4"  class="ion-text-center">
          <ion-text style="color:red" color="red">Nombre</ion-text>
        </ion-col>
      </ion-row>
    <ion-row *ngFor="let row of data" style="align-content: center; align-items: center; align-self: center;" class="ion-align-items-center">
      <ion-col *ngFor="let val of row"  class="ion-text-center">
        {{val}}
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-button (click)="cancelar()" color="danger" ><ion-text style="font-weight: 500;"><ion-icon name="chevron-back-outline"></ion-icon><ion-icon name="close-outline"></ion-icon>CANCELAR</ion-text>
        </ion-button>
        <ion-button  (click)="guardar()" color="danger" ><ion-text style="font-weight: 500;"><ion-icon style="color:white" name="cloud-upload-outline"></ion-icon> <ion-icon style="color:green" name="checkmark-done-outline"></ion-icon>INGRESAR</ion-text>
        </ion-button>
      </ion-col>
    </ion-row>
  </section>

  </ion-grid>

  <!-- <ion-grid>
    <button ion-button color="secondary" (click)="import()">Import Data</button>
    <button ion-button color="secondary" (click)="export()">Export Data</button>
  </ion-grid> -->

  
</ion-content>
