.my-select {
max-width: 100%;
 }

 .myCustomSelect{
    max-width: 100% !important;
  }

  ion-select.myCustomSelect{
    width: 100%;
    max-width: 100%;
  }

  ion-select{
    max-width: 70% !important;// your choice :)
}

ion-select-option {
    color: red;
    width: 100%;
    max-width: 100%;
  }

  .select-interface-option {
    color: red;
    width: 100%;
    max-width: 100%;

}

ion-alert div[class="alert-radio-label"]{
    // your style.
    width: 100%;
    max-width: 100%;
    }

    ion-alert div[class='alert-radio-label'] { background-color: red; }



.my-custom-interface .select-interface-option {
    color: red;
    width: 100%;
    max-width: 100%;
  }
/* Popover Interface: set color for the popover using Item's CSS variables */
.my-custom-interface .select-interface-option {
    --color: #971e49;
    --color-hover: #79193b;
  }
  
  /* Action Sheet Interface: set color for the action sheet using its button CSS variables */
  .my-custom-interface .select-interface-option {
    --button-color: #971e49;
    --button-color-hover: #79193b;
  }
  
  /* Alert Interface: set color for alert options (single selection) */
  .my-custom-interface .select-interface-option .alert-radio-label {
    color: #971e49;
  }
  
  /* Alert Interface: set color for alert options (multiple selection) */
  .my-custom-interface .select-interface-option .alert-checkbox-label {
    color: #971e49;
  }
  
  /* Alert Interface: set color for checked alert options (single selection) */
  .my-custom-interface .select-interface-option[aria-checked=true] .alert-radio-label {
    color: #79193b;
  }
  
  /* Alert Interface: set color for checked alert options (multiple selection) */
  .my-custom-interface .select-interface-option[aria-checked=true] .alert-checkbox-label {
    color: #79193b;
  }
  