<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cambio de tipo de Almacenaje</ion-title>
    <ion-buttons slot="end">
      <ion-button href="https://cables.cameleco.com/ayuda-de-carrete-a-otro/" target="_blank" style="text-transform: none; margin-right: 15px;">Ayuda 
          <ion-icon  name="information-circle-outline"></ion-icon>
      </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid *ngIf="this.seccionactiva=='no'">
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-text  (click)="reingresar()" color="danger" >Sección expirada debe reingresar.</ion-text>
      </ion-col>
    </ion-row>
  <ion-row class="ion-align-items-center">
    <ion-col size="12" class="ion-text-center">
      <ion-button  (click)="reingresar()" color="danger" ><ion-text style="font-weight: 500;">REINGRESAR</ion-text>
      </ion-button>
    </ion-col>
  </ion-row>
  </ion-grid>

  <ion-grid *ngIf="this.puedenavegaraqui=='no'">
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-text color="danger" >No tiene permisos para navegar en esta sección.</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid *ngIf="this.puedenavegaraqui=='si'">
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-text *ngIf="this.escanearonview!='no'" color="danger" >Bienvenido escanee / Digite el código.</ion-text>
        <ion-text *ngIf="this.escanearonview=='no'" color="danger" >Carrete a cambiar a Chipa</ion-text>

      </ion-col>
    </ion-row>


    <ion-row style="justify-content: center;align-items: center;" *ngIf="this.step=='1'" class="ion-align-items-center">
      <p>Código de operario:</p>

      <ion-card class="ion-text-center">
        <ion-item >
          <ion-label  position="floating">Ingrese Código:</ion-label>
          <ion-input (keyup.enter)="continuar()" type="tel-local" (ionChange)="ONCHANGEcodigo($event)" color="danger" ></ion-input>
        </ion-item>
      </ion-card>

        <ion-button (click)="continuar()" >
          <ion-icon name="qr-code-outline"></ion-icon>
        </ion-button>
    </ion-row>


    <ion-row style="justify-content: center;align-items: center;" *ngIf="this.step=='2'" class="ion-align-items-center">
        <ion-card color="danger" >
          <ion-item >
            <ion-label position="floating">Código de Carrete/Chipa:</ion-label>
            <ion-input (keyup.enter)="abrirmodalcarrete()" type="tel-local" (ionChange)="ONCHANGEcarreteochipa($event)" color="danger" ></ion-input>
          </ion-item>
        </ion-card>
          <ion-button (click)="abrirmodalcarrete()" >
            <ion-icon name="qr-code-outline"></ion-icon>
          </ion-button>
    </ion-row>
    

<!-- 
    <ion-row style="justify-content: center;align-items: center;" *ngIf="this.step=='3'" class="ion-align-items-center">

      <ion-card class="ion-text-center">
        <ion-item >
          <ion-label  position="floating">Codigo:</ion-label>
          <ion-input type="tel-local" (ionChange)="ONCHANGEcodigo($event)" color="danger" ></ion-input>
        </ion-item>
      </ion-card>

        <ion-button (click)="continuar()" >
          <ion-icon name="qr-code-outline"></ion-icon>
        </ion-button>
    </ion-row> -->


  </ion-grid>

  
</ion-content>
