<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<h3>Bienvenido, ,se listaran los accesos disponibles segun su Rol:</h3>

  <ion-grid  class="ion-no-padding" no-padding lines="none">



  <!-- <ion-list-header class="ion-no-padding" no-padding lines="none">Permiso {{[i+1]}}:</ion-list-header> -->
    <ion-row  *ngFor="let permisosdelusuario of permisos; let i = index"  class="ion-no-padding" no-padding lines="none">
      <!-- <ion-card class="ion-no-padding" no-padding lines="none">
        <ion-card-title>Permiso {{[i+1]}}:</ion-card-title> -->
        <ion-col size="2" class="ion-no-padding" no-padding lines="none">
        </ion-col>
        <ion-col size="8"  class="ion-no-padding" no-padding lines="none">
          <ion-card >
            <ion-item class="ion-no-padding" no-padding lines="none">
                <ion-label style="margin-left: 12px;" ><ion-text ><strong style="color: #ff0110;">Nombre: </strong>{{permisosdelusuario[0].permiso_nombre}}</ion-text><strong></strong> </ion-label>
            </ion-item>
            <ion-item class="ion-no-padding" no-padding lines="none">
              <ion-label  style="margin-left: 12px;" ><ion-text ><strong style="color: #ff0110;">descripción: </strong>{{permisosdelusuario[0].permiso_descripcion}}</ion-text></ion-label>
            </ion-item>
          </ion-card>
        </ion-col>
        <ion-col size="2" class="ion-no-padding" no-padding lines="none">
        </ion-col>
      <!-- </ion-card> -->
    </ion-row>




  </ion-grid>
  
</ion-content>
