<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!this.userinfo.id_rol">

  <ion-grid  class="ion-no-padding" no-padding lines="none"> 
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-button   (click)="salir()" color="danger" ><ion-text style="font-weight: 500;">Debe Reingresar</ion-text>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>





<ion-content *ngIf="this.userinfo.id_rol">


  <ion-grid  class="ion-no-padding" no-padding lines="none">
    
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-button *ngIf="this.userinfo==null"  (click)="salir()" color="danger" ><ion-text style="font-weight: 500;">Debe Reingresar</ion-text>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="3">
     </ion-col>
     <ion-col style="text-align: center;" size="6">
      <h3 style="color:#c4c4c4">¡Bienvenido!</h3>
     </ion-col>
     <ion-col size="3">
    </ion-col>
   </ion-row>

   <ion-row>
    <ion-col size="1">
   </ion-col>
   <ion-col style="text-align: left;" size="10">
    <ion-text style="color: #d4d4d4">Rol: {{this.nombre_rol}}.</ion-text><br>
      <ion-text style="color: #d4d4d4">Detalles: {{this.rol_descripcion}}.</ion-text><br>
    <ion-text style="color: #d4d4d4">se listaran los actuales permisos disponibles segun su Rol:</ion-text>
   </ion-col>
   <ion-col size="1">
  </ion-col>
 </ion-row>



  <!-- <ion-list-header class="ion-no-padding" no-padding lines="none">Permiso {{[i+1]}}:</ion-list-header> -->
    <ion-row  text-wrap *ngFor="let permisosdelusuario of permisos; let i = index"  class="ion-no-padding" no-padding lines="none">
      <!-- <ion-card class="ion-no-padding" no-padding lines="none">
        <ion-card-title>Permiso {{[i+1]}}:</ion-card-title> -->
        <ion-col size="2" class="ion-no-padding" no-padding lines="none">
        </ion-col>
        <ion-col  class="item-text-wrap" size="8"  class="ion-no-padding" no-padding lines="none">
          <ion-card >
            <ion-item class="ion-no-padding" no-padding lines="none">
                <ion-text style="margin-left: 15px;" ><ion-text ><strong style="border-radius: 8px; background-color: #ff0110; color: #EEEEEE;">&nbsp;Nombre: </strong>&nbsp; {{permisosdelusuario[0].permiso_nombre}}</ion-text><strong></strong> </ion-text>
            </ion-item>
            <ion-item  class="ion-no-padding" no-padding lines="none">
              <ion-text  style=" margin-left: 15px;" ><ion-text ><strong style="border-radius: 8px; background-color: #ff0110; color: #EEEEEE;">&nbsp;descripción: </strong>&nbsp; {{permisosdelusuario[0].permiso_descripcion}}</ion-text></ion-text>
            </ion-item>
          </ion-card>
        </ion-col>
        <ion-col size="2" class="ion-no-padding" no-padding lines="none">
        </ion-col>
      <!-- </ion-card> -->
    </ion-row>




  </ion-grid>
  
</ion-content>
